.kana-table-container {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  max-width: 100%; /* Empêche le conteneur d'être trop large */
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
  padding: 0 20px; /* Ajoute un espace intérieur sur les côtés pour éviter que le tableau colle aux bords */
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.kana-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.2rem;
  width: 100%; /* Le tableau utilise toute la largeur disponible */
  table-layout: fixed; /* Chaque colonne a une taille égale */
  max-width: 100%; /* Limite la largeur totale du tableau pour ne pas dépasser */
}

.kana-table th,
.kana-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word; /* Permet de couper les mots trop longs dans les cellules */
}

.kana-symbol {
  font-size: 1.5rem;
}

.kana-romaji {
  color: #555;
  font-size: 1rem;
  margin-top: 5px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Media queries pour les petites tailles d'écran */
@media (max-width: 768px) {
  .kana-table-container {
    padding: 0 15px; /* Réduit le padding sur les petits écrans */
  }

  .kana-table {
    font-size: 1rem;
  }

  .kana-symbol {
    font-size: 1.2rem;
  }

  .kana-romaji {
    font-size: 0.9rem;
  }

  .kana-table th, .kana-table td {
    padding: 6px; /* Réduit l'espace à l'intérieur des cellules */
  }
}

@media (max-width: 480px) {
  .kana-symbol {
    font-size: 1rem; /* Réduction supplémentaire pour les écrans très petits */
  }

  .kana-romaji {
    font-size: 0.8rem;
  }
}


.download-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #0056b3;
}
