/* Style pour la navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: relative;
}

.logo-nav {
  width: 100px;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-left: 20px;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000; /* Toujours visible au-dessus du menu */
}

/* Responsive pour petits écrans */
@media (max-width: 836px) {
  .hamburger {
    display: block;
  }

  .navbar-list {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    max-height: 0; /* Par défaut, le menu est caché */
    overflow: hidden; /* Empêche le contenu du menu de déborder quand il est caché */
    transition: max-height 0.5s ease-in-out; /* Animation d'ouverture et de fermeture */
  }

  .navbar-list.open {
    max-height: 500px; /* Hauteur du menu lorsqu'il est ouvert */
  }

  .navbar-list li {
    margin: 10px 0;
    text-align: center;
  }
}

/* Grands écrans */
@media (min-width: 837px) {
  .navbar-list {
    display: flex; /* Toujours visible sur grands écrans */
    position: static; /* Remet la position à statique pour ne pas être absolue */
    max-height: none; /* Désactivation de la hauteur limitée */
  }
}
