@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
}

/* Style pour la navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: relative;
}

.logo-nav {
  width: 100px;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-left: 20px;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000; /* Toujours visible au-dessus du menu */
}

/* Responsive pour petits écrans */
@media (max-width: 836px) {
  .hamburger {
    display: block;
  }

  .navbar-list {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    max-height: 0; /* Par défaut, le menu est caché */
    overflow: hidden; /* Empêche le contenu du menu de déborder quand il est caché */
    transition: max-height 0.5s ease-in-out; /* Animation d'ouverture et de fermeture */
  }

  .navbar-list.open {
    max-height: 500px; /* Hauteur du menu lorsqu'il est ouvert */
  }

  .navbar-list li {
    margin: 10px 0;
    text-align: center;
  }
}

/* Grands écrans */
@media (min-width: 837px) {
  .navbar-list {
    display: flex; /* Toujours visible sur grands écrans */
    position: static; /* Remet la position à statique pour ne pas être absolue */
    max-height: none; /* Désactivation de la hauteur limitée */
  }
}

/* Styles pour le container de la photo de profil */
.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

/* Style de la photo de profil */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Styles du menu déroulant */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Styles des éléments du menu */
.dropdown-item {
  color: black;  /* Assure que le texte est visible en noir */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Hover effect for better UX */
.dropdown-item:hover {
  background-color: #ddd;
}

/* Afficher le menu lors du survol */
.profile-container:hover .dropdown-menu {
  display: block;
}
